.chat {
	width: 60vw;
	margin-left: 15em;
	padding: 0 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.messages {
	width: 100%;
	padding: 0em 1em 0em 1em;
	background-color: #222222;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: right;
	margin-bottom: 14vh;
	margin-top: 75px;
}

.output {
	text-align: left;
	width: 100%;
	padding: .2em 1em .2em 1em;
	margin: 0em 0em 1em 0em;
	background-color: #1b1b1b;
	border-radius: 1.5em;
	border-radius: 1em 1em 1em 0em;
	overflow-y: auto;
}

.question {
	width: auto;
	text-align: left;
	margin-left: auto;
	background-color: #114444;
	padding: 0em 1em 0em 1em;
	border-radius: 1em 1em 0 1em;
	margin-bottom: 1em;
}

.input {
	display: flex;
	position: fixed;
	bottom: 0px;
	height: 10%;
	width: 60vw;
	border-style: solid;
	border-color: #555555;
	background-color: #222222;
	padding: 0.5em 1em 0.5em 1em;
	border-radius: 1em;
	z-index: 11;
	margin-bottom: 1em;
}
.input-block {
	font-family: "proximanova";
	width: 100%;
	font-size: 1em;
	color: white;
	display: block;
	background-color: #222222;
	border-style: none;
	border-radius: 10px;
	outline: none;
	resize: none;
	color: white;
}

.button-container {
	float: right;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button{
	border: solid;
	border-radius: 15px;
	border-color: transparent;
	background-color: transparent;
	color: white;
	font-size: 30px;
}

.file-present {
	background-color: #114444;
}

.chat-background {
	display: flex;
	background-color: #222222;
	position: fixed;
	bottom: 0;
	padding: 1em 1em 2em 1em;
	height: 1%;
	width: 100vw;
	z-index: 9;
}
