.chat {
	width: 50%;
	margin-right: 0;
	margin-left: 38%;
	padding: 0 0 0 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.messages {
	width: 50em;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: right;
	margin-bottom: 20vh;
}

.output {
	text-align: left;
	width: 100%;
	padding: .2em 1em .2em 1em;
	margin: 0em 0em 1em 0em;
	background-color: #1b1b1b;
	border-radius: 1.5em;
	border-radius: 1em 1em 1em 0em;
	overflow-y: auto;
}

.question {
	width: auto;
	text-align: left;
	margin-left: auto;
	background-color: #114444;
	padding: 0em 1em 0em 1em;
	border-radius: 1em 1em 0 1em;
	margin-bottom: 1em;
}

.input {
	display: flex;
	position: fixed;
	bottom: 0px;
	height: 12%;
	width: 50em;
	border-style: solid;
	border-color: #555555;
	background-color: #222222;
	padding: 1em 1em 1em 1em;
	border-radius: 1em;
	z-index: 11;
	margin-bottom: 1em;
}
.input-block {
	font-family: "proximanova";
	width: 100%;
	font-size: 1em;
	color: white;
	display: block;
	background-color: #222222;
	border-style: none;
	border-radius: 10px;
	outline: none;
	resize: none;
	color: white;
}

.button-container {
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button{
	border: solid;
	border-color: #505050;
	border-radius: 15px;
	background-color: #1d1d1d;
	height: 3em;
	width: 2.9em;
	color: white;
	font-size: 1em;
	padding: 0em 0em 0em 0em;
	margin: 2px 2px 2px 2px;
}
.button:hover {
	border-color: white;
	background-color: #303030;
}

.button:active {
	background-color: white;
}


.chat-background {
	display: flex;
	background-color: #222222;
	position: fixed;
	bottom: 0;
	padding: 1em 1em 2em 1em;
	height: 5%;
	width: 100vw;
	z-index: 9;
}
