
.course-modal {
	display: block;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #1d1d1d;
}

.course-modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}


.type-modal {
	display: block;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #1d1d1d;
}

.type-modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.modal-text {
	padding: 0 2rem 0 2rem;
}

.modal-close-button{
	border: solid;
	border-color: #707070;
	border-radius: 5px;
	background-color: #1d1d1d;
	margin: 0.5em 0em 0em 0em;
	height: 2.5em;
	color: white;
}

