.sidebar {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: fixed;
	width: 15em;
	left: 0;
	height: 100%;
	background-color: #1d1d1d;
	z-index: 12;
	overflow-y: auto;
  row-gap: 10vh;
}

.hidden-sidebar {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 15em;
	margin-right: 0;
	margin-left: 0;
	padding: 0 0 0 0;
	left: 0;
	height: auto;
	z-index: 12;
	overflow-y: auto;
}


.attribution {
	margin-bottom: 1em;
	color: inherit;
  font-size: 0.7rem;
  margin-top: auto;
}

.sidebar-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sidebar-button{
	border: solid;
	border-color: #404040;
	border-radius: 18px;
	background-color: #1d1d1d;
	padding: 9px 12px 9px 12px;
	margin: 0.5em 5px 0 5px;
	color: white;
	font-size: 20px;
}

.invisible-button{
	opacity: 0;
	border: solid;
	padding: 9px 12px 9px 12px;
	margin: 0.5em 5px 0 5px;
	font-size: 20px;
}

.sidebar-button:hover {
	border-color: white;
}
.sidebar-button:active {
	color: white;
	background-color: #1d1d1d;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.option > .sidebar-input-header {
  margin-top: 0;
  font-size: 1.3em;
}

.select-box-option.active {
	text-shadow:
		0 0 3px #fff,
    0 0 6px #0ff;
}

.select-box-option {
	appearance: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer; 
  font-family: inherit;
  font-size: 1.2rem;
}
