.sidebar {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: fixed;
	width: 15em;
	margin-right: 0;
	margin-left: 0;
	padding: 0 0 0 0;
	left: 0;
	height: 100%;
	background-color: #1d1d1d;
	z-index: 12;
	overflow-y: auto;
}


.attribution {
	display: fixed;
	bottom: 0;
	margin-top: 2em;
	padding: 0em 1em 0em 1em;
	color: inherit;
}

.sidebar-button{
	border: solid;
	border-color: #707070;
	border-radius: 15px;
	background-color: #1d1d1d;
	padding: 10px 12px 10px 12px;
	margin: 0.5em 5px 0.5em 5px;
	color: white;
	font-size: 20px;
}

.sidebar-button:hover {
	border-color: white;
	background-color: #114444;
}
.sidebar-button:active {
	background-color: white;
}

.option {
	margin-bottom: 30px;
	margin-top: 30px;
}
