<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AI Tutor</title>
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
	<link rel="icon" href="favicon.ico">
</head>

<body>
	<div class="chat" id="chat">

		<span class="output">

			<p>
				This website has moved. Please go to <a href="https://tutoring-ai.onrender.com/">tutoring-ai.onrender.com</a>. Please note that it may take 50 seconds to load the page after it has been inactive for some time, this will be resolved when this project receives more funding.
			</p>
		</span>

	</div>

	
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
