<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AI Tutor</title>
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>

	<h1 class="title">MAT AI Assistant</h1>
	<div class="input">

		<!--h3 class="course-title">Select a course</h3-->
		<textarea id="userInput" rows="4" cols="50" placeholder="Enter your message here..."
			class="input-block"></textarea>

		<select name="course-select" id="course-select" class="course-select">
			<option value="None">Course</option>
			<option value="MATH 203">MATH 203</option>
			<option value="MATH 204">MATH 204</option>
			<option value="MATH 205">MATH 205</option>
		</select>


		<button onclick="sendQuestion()" id="sendButton" class="send-button">Ask</button>

	</div>

	<h2 class="response-title">Response</h2>
	<span class="output" id="output">

		<p>
			Hello! I'm an AI chatbot powered by Chat-GPT. I use context specific to Concordia to provide
			better explanations. AI makes mistakes, so check important information.
		</p>
	</span>

	
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
