.interactive:hover {
	border-color: white;
	background-color: #114444;
}

.interactive:active {
	background-color: white;
}

.select-box{
	background-color: #1d1d1d;
	color: white;
	border-radius: 5px;
	font-size: 1.2rem;
	border-color: #707070;
	padding: 5px 5px;
	text-align-last: center;
	font-family: "proximanova";
	height: 7vh;
}

.button {
	padding: 10px 12px 10px 12px;
	border: solid;
	border-radius: 15px;
}
