.select-box{
	margin: 0em 0em 0em 0em;
	background-color: #1d1d1d;
	color: white;
	border-radius: 5px;
	padding: 5px 5px;
	text-align-last: center;

}

h2 {
	text-decoration: underline;
}
body {
	display: flex;
	background-color: #1b1b1b;
	margin: 0px 0px 0px 0px;	
	color: white;
	font-family: "Georgia", serif;
	font-size: 1.1em;
}
