h2 {
	text-decoration: underline;
}

@font-face {
  font-family: 'proximanova';
  src: local('proximanova'), url(/font) format('truetype');
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #222222;
	margin: 0px 0px 0px 0px;	
	color: white;
	font-family: "proximanova";
}

