.select-box{
	margin: 0em 0em 0em 0em;
	background-color: #1d1d1d;
	color: white;
	border-radius: 5px;
	padding: 5px 5px;
	text-align-last: center;
	font-family: "proximanova";

}

h2 {
	text-decoration: underline;
}

@font-face {
  font-family: 'proximanova';
  src: local('proximanova'), url(/font) format('truetype');
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #222222;
	margin: 0px 0px 0px 0px;	
	color: white;
	font-family: "proximanova";
}

